.logout{
    color: red;
    display: inline-block;
    
    vertical-align: middle;
    
    
}
.div-saudacao{
    margin: 450px;
    padding: 100px;
    text-align: right;
    
}
.p-saudacao{
    text-align: right;
    color: white;
    align-items:flex-end;
}
