.contem{
    background-color: #FE8B86;
    display: flex; 
    justify-content: space-between;
}

.logo-login{
  display: inline-block;
  margin: 50px;
  padding: 8px;
  
}

.user-login {
    display: inline-block;
    background-color: #f08585;
    border-radius: 10px 4%;
    box-shadow: 1px 1px 1px 1px rgb(87, 87, 88); 
    margin: 60px; 
    margin-right: 160px;
    padding: 12px;
  }
  
  .user-login__title {
    font-size: 32px;
    color: #624CD3;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .user-login__form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 17px;
  }
  
  .user-login__form-control label {
    margin-bottom: 5px;
    color: white;
    font-size: 16px;
  }
  
  .user-login__form-control input {
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    height: 36px;
    padding: 5px 10px;
  }
  
  .user-login__form-control input:focus {
    outline: 0;
    border-color: #f8f9fa;
  }
   
  .user-login__error {
    color: red;
  }

  .div-registrar{
      border-top: 3px solid #705adf;
      border-bottom: 3px solid #705adf;
      text-align: center;
      align-items: center;
      color: whitesmoke;
      background-color: #624CD3;
      font-size: 1.2em;
  }

  .a-registrar{
    text-decoration: none;
    font-style: normal;
    color: #ee3;
    margin-left: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
   
  }

  .a-registrar:hover{
    font-weight: bold;
    
  }
  .user-login__submit-button{
    border-radius: 10px;
    border: none;
    background-color: rgb(151, 144, 144);
    font-size: 20px;
    transition: .5s;
    width: 100%;
    float: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    margin-top: 40px;
  }
  .user-login__submit-button:hover{
    background-color: #624CD3;
    cursor:pointer;
    box-shadow: 0px 0px 12px 14px rgba(250, 250, 250, 0.22), 0px 0px 12px 14px rgba(252, 252, 252, 0.22);    
    border: none;
    color: white;
  }
  .esqueciSenha{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
  footer{
    height: 80px;
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    font-size: 13px;
    z-index: 999;
    margin-left: auto; /* linha modificada */
    margin-right: auto; /* linha adicionada */
    
  }

  .copy{
      display: block;
      margin-top: 10px;
  }