
.card{
    background-color: rgba(255, 255, 255, 0.999);
    padding: 15px;
    padding-left: 200px;
    border-radius: 0;
    box-shadow: 2px 2px 1px 0px;
    min-height: 720px;
    margin: 5px;
    font-size: 25px;
}
h3{
    font-weight: bold !important;
    font-size: 20px;
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding:8px;
    margin: 5px;
    margin-bottom: 15px;
}
textarea{
    width: 100%;
    
}

input{
    border: unset;
    border-bottom: 0.5px solid rgb(189, 186, 185);
    background-color: rgba(255, 255, 255, 0.972);
    width: 85%;
    height: 32px;
    margin: 2px;
    text-decoration: none;
}
.label-float{
    background-color: rgba(255, 255, 255, 0.849);
    margin: 5px;
    font-size: 16px;  
}
.label-float:hover{
    color: #2b28e2;

}

.span-erro{
    color: #f63;
    font-size: 11.5pt;
}



.lista-alunos{
    margin-left: 530px;
    color: black;
}
.lista-Prof{
    margin-left: 610px;
    color: black;
}

.lista-materias{
    margin-left: 558px;
    color: black;
}
.title-list{
    text-align: center;
    align-items: center;
}

.btn-remove-alternativa{
    background-color: red;
    color: white;
    border-radius: 6px;
    font-size: 17px;
    height: 35px;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-remove-alternativa:hover{
    background: red;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #d13e3e,
                0 0 25px #d13e3e,
                0 0 50px #d13e3e,
                0 0 100px #d13e3e;
}
.btn-add-alternativa{
    background-color: #2b28e2;
    color: white;
    border-radius: 6px;
    font-size: 17px;
    height: 35px;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-add-alternativa:hover{
    background: #2b28e2;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #3e4cd1,
                0 0 25px #3e4cd1,
                0 0 50px #3e4cd1,
                0 0 100px #3e4cd1;
    
}
.btn-add-exercicio{
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #012a2c;
    font-size: 16px;
    min-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .7s;
    letter-spacing: 2px
    
}
.btn-add-exercicio:hover{
    background: #2b28e2;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #3e4cd1,
                0 0 25px #3e4cd1,
                0 0 50px #3e4cd1,
                0 0 100px #3e4cd1;
}


.botao-cadastrar {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #012a2c;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .botao-cadastrar:hover {
    background: #2b28e2;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #3e4cd1,
                0 0 25px #3e4cd1,
                0 0 50px #3e4cd1,
                0 0 100px #3e4cd1;
  }